@model LoginUser
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Account" asp-action="Login" method="post">

    <section class="login">
        <div class="login-frame">
            <div class="login-form">
                <input asp-for="Username" placeholder="Username" />
                <span asp-validation-for="@Model.Username"></span>

                <br /><br />
                <input type="password" asp-for="Password" placeholder="Password" />
                <span asp-validation-for="@Model.Password"></span>
                <br /><br />
                <div class="text-center">
                    <input class="btn btn-light login-button" type="submit" value="Login" />
                </div>
            </div>

        </div>
    </section>
</form>
