@model RegisterUser
@{
    ViewData["Title"] = "Register";
}



<form asp-controller="Account" asp-action="Register" method="post">

    <div class="login">
        <label asp-for="Username"></label>
        <input asp-for="Username" placeholder="Username" />

        <br /><br />
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" placeholder="Password" />
    </div>


</form>