@model RegisterUser
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-controller="Account" asp-action="Register" method="post">

    <label asp-for="Username" ></label>
    <input asp-for="Username" placeholder="Username"/>

    <br /><br />

    <label asp-for="Password"></label>
    <input type="password" asp-for="Password" placeholder="Password"/>

    <input type="submit" value="Register" />

</form>