$colors: (
    primary: black,
    line: rgb(199, 199, 199)
);

@function color($color-name){
    @return map-get($colors, $color-name)
};
body, html{
    font-family: 'Montserrat';
    margin: 0;
    
    a{
        text-decoration: none;
    }
}

header{
    padding: 2em;

    .logo{
        color: black;
        font-weight: bold;
        float: right;
    }

    .menu-btn{
        width: 18px;
        cursor: pointer;
    }
}

section {
    padding-top: 0;
    margin-left: 20em;
    width: 70%;
    h1 {        
        font-size: 4em;
        margin: 0em auto;
        display: inline-block;
    }
    hr{
        border: none;
        content: ' ';
        border-top: 5px solid color(line);
        display: block;
    }
}

// #region footer

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
    height: 3.5em;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
}

.footer ul {
	padding-left: 1em;
	text-align: center;
	font-size: 13px;
	list-style-type: none;
	color: #7F8C8D;
	
}
.social li {

	background: none repeat scroll 0 0 #7f848e;
	border: 2px solid #7f848e;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	margin: -5px 15px 0 0;
	padding: 0%;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}

.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}

// #endregion footer

nav {
    position: absolute;
    background: black;
    padding: 1.5em;
    width: calc(15% - 3em);
    min-width: 204px;
    height: calc(100vh - 3em);
    display: none;
    transform: scaleX(0);
    transform-origin: left;


    .close-btn {
        width: 18px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 50% auto 0;
        padding: 0;
        display: grid;
        grid-template-rows: repeat(4, 30%);
        width: 80%;
    }

    a {
        color: white;
        font-weight: bold;
        font-size: 1.4em;
    }
    
    li {
        opacity: 0;
    }

}

.show-menu {
    display: block;
    animation: slide-menu .3s ease-in forwards;

    .close-btn{
        animation: show-x 1s .3s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-animation .3s forwards .2s ease-in-out;
    }
    li:nth-of-type(2) {
        animation: menu-item-animation .3s forwards .4s ease-in-out;
    }
    li:nth-of-type(3) {
        animation: menu-item-animation .3s forwards .6s ease-in-out;
    }
    li:nth-of-type(4) {
        animation: menu-item-animation .3s forwards .8s ease-in-out;
    }
    
}

@keyframes slide-menu {
    from {
        transform: scaleX(0)
    }
    to {
        transform: scaleX(1)
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-animation {
    from {
        transform: translateX(-40%);
        opacity: 0;        
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.close-menu {
    li:nth-of-type(1) {
        animation: menu-item-close .3s forwards .8s ease-out;
    }
    li:nth-of-type(2) {
        animation: menu-item-close .3s forwards .6s ease-out;
    }
    li:nth-of-type(3) {
        animation: menu-item-close .3s forwards .4s ease-out;
    }
    li:nth-of-type(4) {
        animation: menu-item-close .3s forwards .2s ease-out;
    }

    .close-btn{
        animation: close-x .3s forwards .8s ease-out;
    }

    // display: block;
    // animation: slide-close .3s forwards 1s ease-in-out;

}

@keyframes slide-close {
    from {
        transform: scaleX(1)
    }
    to {
        transform: scaleX(0)
    }
}

@keyframes close-x {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes menu-item-close {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {

        transform: translateX(-40%);
        opacity: 0; 
    }
}

