
@{
    ViewData["Title"] = "SendQuestion";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>SendQuestion</h1>

<textarea>


</textarea>

<a asp-controller="Home" asp-action="ReceiveQuestion">Skicka frågan</a>