@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager


@if (signInManager.IsSignedIn(User))
{
    <a asp-controller="Account" asp-action="LogOff">_logout</a>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-controller="Admin" asp-action="Index">_admin</a>
    }
    else
    {
        <a asp-controller="Admin" asp-action="Index">_@User.Identity</a>

    }

}
else
{
    <ul class="navbar-nav">
        <li class="justify-content-end">
            <a class="nav-item nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="justify-content-end">
            <a class="nav-item nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
}
