@model BlogPosts
@{
    ViewData["Title"] = "Blog";
}

<section>
    <form asp-action="Create" method="post">

        <input class="title-form" type="text" asp-for="PostHeader" placeholder="Title" maxlength="100" />
        <select asp-for="CategoryId">
            @foreach (var category in @ViewBag.Categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
        <br /><br />
        <textarea style="resize:none" asp-for="PostBreadText" maxlength="2000"></textarea>

        <input type="submit" class="btn btn-light" value="Create" />

    </form>
</section>