@{
    ViewData["Title"] = "Blog";
}


<section>
    <div class="postHeader">
        <span class="header">@Model.PostHeader</span><span class="date">@Model.DatePosted.ToString("g")</span>
    </div>
    <div class="postBread">
        <span>@Model.PostBreadText</span>
    </div>
</section>
