<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - _mywebsite</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />

    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,300i" rel="stylesheet">
</head>
<body>
    <nav id="overlay">
        <img src="/images/close.svg" class="close-btn" id="close-menu">

        <ul id="navlist">
            <li><a asp-action="Home" id="home">_home</a></li>
            <li><a asp-action="Blog" id="blog">_blog</a></li>
            <li><a asp-action="Webshop" id="shop">_webshop</a></li>
            <li><a asp-action="About" id="about">_about</a></li>
            <li><a asp-action="Contact" id="contact">_contact</a></li>
            <li><a asp-action="Create" id="create">_create</a></li>
        </ul>

    </nav>

    <header>
        <a href="#" class="logo">LOGO_GOES_HERE</a>

        <img src="/images/menu.svg" class="menu-btn" id="open-menu">
    </header>

    <section>
        <h1>_</h1><h1 id="content">@ViewData["Title"].ToString().ToLower()</h1>
        <hr>
    </section>



    <footer>
        <div class="footer fixed-bottom" id="footer">
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/ostkakan" target="_blank">
                        <i class=" fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/ostkakan" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ostkakan/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/ImCheesecake" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/freddierunnding/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    
    @*<div class="container">*@
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @RenderBody()
        </main>
    @*</div>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
