<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Goliath National Bank</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400&display=swap" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <nav>
        <div>
            <span>Goliath</span><span>National</span><span>Bank</span>
        </div>
        <partial name="_LoginPartial">
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>