@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@if (signInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <a asp-controller="Account" asp-action="Register">Create new user</a>
        <a asp-controller="Account" asp-action="LogOut">Logout</a>

    }
    else
    {
        <a asp-controller="Account" asp-action="CreateCustomer">Create new customer</a>

        <a asp-controller="Account" asp-action="LogOut">Logout</a>

    }

}
else
{
    <a asp-controller="Home" asp-action="Index">Login</a>
}