@model List<ASPNETCoreFormulärDB2.Models.Person>
@{
    ViewData["Title"] = "ViewPersonList";
}

<h1>ViewPersonList</h1>


@foreach (var person in Model)
{
<div>
    @person.FirstName, @person.Email
    <a asp-controller="Home" asp-action="ViewPerson" asp-route-id="@person.PersonId"><button>Update</button></a>
    <br />
</div>


}
