

.btn-primary{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #282c34;
    border: 1px solid rgba(0, 0, 0, 0.5);
    max-width: 6em;
    min-width: 6em;
    max-height: 2.5em;
    min-height: 2.5em;
    margin: 1em 0 1em 5px;
    text-shadow: none;
    
}

.btn:hover{
    background: #C1C097;
    transform: scale(1.05);
    border-color: #C1C097;
    color: black;
    text-shadow: none;
}


.btn:active{
    transform: scale(.98);
    color: black !important;
    border-color: #C1C097 !important;
    background-color: #C1C097 !important;
}

.hide{
    display: none;
}

.deadeye, .retry{
    transform: scale(1.5)

}
.deadeye:hover, .retry:hover{
    background: #C1C097;
    transform: scale(1.55);
    border-color: #C1C097;
    color: black;
    text-shadow: none;
}
.deadeye:active, .retry:active{
    transform: scale(1.49);
    color: black !important;
    border-color: #C1C097 !important;
    background-color: #C1C097 !important;
}
